# default maven build dir
/target/

# default log dir (when running stand-alone)
/log/

# default stand-alone Java AI Interface + debs dir
/Java-AIInterface/

# default stand-alone Java OO Wrapper + debs dir
/JavaOO-AIWrapper/
